:root{
    --mainColor: #63f7e1;
    --white: #ffffff;
    --blackColor:#0c0c0c;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #1f1f1f;

}

/* progress bar */

.progress-bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5px;
    z-index: 102;
}

.progress{
    
    width: 0%;
    height: 100%;
    background-image: linear-gradient(45deg, #17B7CB, rgb(255, 255, 255));
}


/* chevron up  */

.chevron-up-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100% ;
    width:50px;
    height: 50px;
    background-color: #00ec76;
    bottom: 50px;
    right: 100px;
    z-index: 98;
    transform: translateY(100px);
    transition: 0.5s ease ;
    cursor: pointer;
}

.chevron-up-container-on{
    transform: translateY(0px);

}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    overflow: none;

}


nav{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(44px);

}

.main-selection-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.main-selection-nav li{
    margin: 0px 10px;
}

.main-selection-nav li a{
    position: relative;
    color: white;
    text-decoration: none;
}


.main-selection-nav li a::after{
    content: " ";
    position: absolute;
    background-color: #00ec76;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    z-index: 101;
}

.main-selection-nav li a:hover::after{
    width: 100%;
    
}
.main-selection-nav li a:hover{
    color: #00ec76;
}



.social-media-navbar{
    list-style: none;
    display: flex;
   
}

.bumble{
    position: absolute;
    top: 0;
    left: -1.25rem;
    z-index: -10;
    width: 20rem;
    height: 20rem;
    background-color: #10e586;
    filter: blur(45px);
    opacity: 0.3;
    border-radius: 100%;
    overflow: hidden;
}


.bumble2{
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: -10;
    width: 20rem;
    height: 20rem;
    background-color: #10e586;
    filter: blur(45px);
    opacity: 0.3;
    border-radius: 100%;
    overflow: hidden;
}

main{
    position: relative;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 20px auto  50px auto;



}
.curve{
 
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    border-radius: 25px;
    padding: 10px;
}
.container-main{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius:15px;
    -webkit-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
    -moz-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
    box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
    padding: 10px;
}

.container-main-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    


}
.container-text-main{
    color: white;
    width: 40%;
}

.gif-main{
    overflow: hidden;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.596));
}

.about-section{
    width: 100%;
 
}

.text-blink{
    color: white;
    font-size: 2.7rem;
    font-weight: bold;
}


.container-text-information{
    width: 55%;
}




.item-text-main{
    font-size: 2.9rem;
    font-weight: bolder;
    text-transform: uppercase;
    background: #4dff4f; 
    background: -webkit-linear-gradient(to right, #4dff4f, #00ffb3); 
    background: linear-gradient(to right, #4dff4f, #00ffb3); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

  

}

#typed{
    
    color: white;
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    filter: drop-shadow(0px 0px 3px var(--mainColor));
    
    
}
.text-about{
    line-height: 22px;
    font-size: 1.1rem;
    margin-top: 10px;
}

.stats-container{
    margin: 0 auto;
width: 70%;
padding: 7px 20px;


}

.stats-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.stat-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.stat-count{
  font-size: 2rem;
  font-weight: bolder;
}



.about-me{
    width: 70%;
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 30px;
    
}
.container-about-me{
    /* background-color: rgba(0, 0, 0, 0.404); */
    /* border-radius:15px;
    -webkit-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
    -moz-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
    box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97); */
    padding: 20px;
    margin:20px;
}
.about-me-container{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

/* .about-img img{
    width: 50%;
} */

.eduAndExp{
    display: flex;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 0px 30px;
    margin: 5px;
}

.education,.experience{
    border-radius: 20px;
    padding: 30px 22px;
    transition: .5s ease-in-out;

}
.education:hover,.experience:hover,.service:hover{
    background-color: rgba(255, 255, 255, 0.068);
}

.title-eduAndExp{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    padding: 6px 2px;
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.767);
    text-transform: capitalize;
    font-size: .9rem;
}

.item-eduAndExp h4{
color: rgba(255, 255, 255, 0.815);
padding: 10px 0px;
text-transform: capitalize;
font-size: 1.3rem;
} 

.item-eduAndExp h3{
color: #00ec76ad;
text-transform: capitalize;
} 


.item-eduAndExp p{
    color: rgba(255, 255, 255, 0.733);
    text-transform: capitalize;
    font-size: .9rem;
} 
    
/* .about-container h2{
    text-align: center;
    color: white;
    margin: 5px;

    
} */

.main-title{
    font-size: 52px;
	text-transform: capitalize;
	font-weight: 800;
    color: #00ec76;
	text-align: center;
    padding: 10px 0px;
}
.about-container{
    position: relative;
}
/* .about-container{
	text-align: left;
    padding: 30px;
	h2{
		
		font-size: 52px;
		text-transform: capitalize;
		font-weight: 800;
		background: linear-gradient(to right,#00ec76 10%, #25e870 50%, #ffffff 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 2.5s linear infinite;
		display: inline-block;
	}
} */

/* @keyframes textclip {
	to {
		background-position: 200% center;
	}
} */

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
   
  }
  
  .logos:after {
    right: 0;

  }
  

  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    /* width: 78px;
    height: 78px; */
    margin: 0 40px;

  }
  .items-contact-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 9px;
    row-gap: 5px;
    margin: 10px 0px;
  }

  .items-contact-main a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #002c0f;
    font-weight: 600;
    background: #19ff8c;
    padding: 2px 5px;
    border-radius: 10px;
    transition: .3s ease-in-out;
  }
  .items-contact-main a:hover{
    transform: translate(5px, -5px);
  
  }

  .dot{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid #00ec76;
    background-color: #00ec76;
    margin: 0 5px;
    animation: blink 1s infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
.open-to{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 320px;
    text-decoration: none;
    color: #002c0f;
    background-color: #fff;
    padding: 5px 2px;
    margin-top: 13px;
    border-radius: 5px;
}
/* .container--items-social{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: flex-start;
    column-gap: 10px;
   
} */

.icon-information{
    width: 30px;
    display: flex;
    align-self: center;
}
.a-information-item{
    padding: 5px;
    border-radius: 4px;
    background-color: var(--blackColor);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1)
}

.a-information-item:hover{
    transform: translateY(-5px);
    transition: .2s;
    background-color: white;

}



/*services*/
.services-container{
    position: relative;
    padding: 20px;
}

.services-container h3{
    text-align: center;
    font-size: 3rem;
    color: #00ec76;
    margin: 10px;
    
}
.container-services{
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    flex-wrap:wrap;
    justify-content:center;
    align-items: flex-start;
    column-gap: 30px;
  

}
.service{
    width: 300px;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: left;
    transition: .5s ease-in-out;
}


.service h2{
    font-size: 1.25rem;
    line-height: 1.95rem;
    color: white;
    font-weight: bold;

    text-transform: capitalize;
    text-align: left;
}

.service p{
    font-size: .9rem;
    line-height: 1.7rem;
    padding-bottom:20px ;
    color: rgba(255, 255, 255, 0.712);

    text-align: left;
    
}
.service svg{
    width: 65px;
    height: 65px;
    padding-bottom: 10px;
    overflow: hidden;

}

.service-list{
    color: white;
    padding: 10px 20px;
    text-align: left;
}
.service-list li{
    padding-bottom: 4px;
    color: #00ec76c7;
}

/*
    projects
*/

.projects-main{
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.404); */
    padding: 60px 100px;
    margin-top: 40px;
}
.projects-main h3{
    text-align: center;
    font-size: 3rem;
    color: #00ec76;
    margin: 0px 0px 20px 0px;
    padding: 20px 0px;
 
}
.sub-project{
    color: rgba(255, 255, 255, 0.884);
    padding: 10px;
 
}


/* .main-projects{
    background-color: #333;
} */


.main-projects-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
}

.item-main{
    text-decoration: none;
    color: white;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 1.4rem;
    transition: .3s ease-in-out;
}
.item-main:hover{
    transform: translate(5px,-5px);
    background-color: rgba(255, 255, 255, 0.158);
}

.item-main-body {
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
}
.item-main-body h4{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-transform: capitalize;
    
  
}
.item-main-body h4 img{
    margin-right: 5px;
}
.item-main-body p{
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.705);
}


.item-main-skills span{
    text-transform: uppercase;
    padding: .3rem;
    font-size: .7rem;
    background-color: #04bd61;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin-bottom: 30px;

}

#filterInput{
    width: 370px;
    outline: none;
    height: 35px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 4px 3px;
    color: white;
    background-color: transparent;
}

.container-filter{
    display: flex;
    align-items: center;
}
.container-labels{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 10px;
    padding: 10px;
}

.container-labels label{
    color: rgb(255, 255, 255);
    border: 1px solid #00ec76 ;
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
    transition: .2s ease-in;
}
.container-labels label:hover{
    color: #00ec76;
    background-color: white;
    
}

.project-list{
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    position: relative;
    
}
.project-list .project-item{
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 3px;
   
    -webkit-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
-moz-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1)
}
.project-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 4px 5px;
}
.project-item:hover{
    transform: translate(5px, -5px);
    transition: .3s linear;
}
.project-elements{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    
}
.project-elements .folder  img{
   
    stroke: #00ec76;
}

.project-elements .link-project a{
    display: flex;
    align-items: center;
    margin-right: -10px;
}

.project-elements .link-project a img{
    width: 22px;
    height: 22px;
    margin-top: -4px;
}

.project-inner .project-title{
    margin: 0px 0px 10px;
}

.project-inner .list-tech{
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px 0px 0px;
    column-gap: 5px;
   
}

.project-title{
    color: white;

}
.project-description{
    color: rgba(255, 255, 255, 0.596);
}
.project-inner  .list-tech li{
    color: white;
}

.more-projects{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}
.more-projects a{
    text-decoration: none;
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--white);
    font-weight: bold;
    text-transform: capitalize;
    color: var(--blackColor);
    border: 1px solid var(--white);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1)
    
}
.more-projects a:hover{
    background-color: var(--blackColor);
    color: var(--white);
    transition: .2s linear;
    border: 1px solid var(--white);
    cursor: pointer;
}



.contact-services{
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.404);;
}
.container-items-contact{
    position: relative;
}
.container-services-items{
    border-radius: 20px;
    padding: 30px;
}

.container-services-items h3{
    text-align: center;
    font-size: 3rem;
    color: #00ec76;
    margin: 0px 0px 10px 0px;
  
}
.container-items-contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}


.container-fast-items{
    display: flex;
    align-items: center;
    row-gap: 20px;
    outline: none;
    justify-content: center;
    column-gap: 10px;
    padding: 10px;
}

.container-services-items h4{
    text-align: center;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.822);
    margin-bottom: 20px;
  
}

.container-items-contact-services{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-services-items p{
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: .9rem;
    margin-bottom: 40px;
}

.container-fast-items a{
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    align-items: center;
    text-decoration: none;
    color: #00ec76;
    text-transform: capitalize;
    font-size: 1.1rem;
    background-color: #111;
    padding: 5px;
    border-radius: 8px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1)
}

.container-fast-items a:hover{
    color: white;
    transform: translate(5px, -5px);
    transition: .3s linear;
}

.container-fast-items a svg{
    width: 30px;

}

.contact-item-paragraph{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact-item-paragraph p{
    text-align: center;
    width: 100%;
}

.contact-item-info{
    display: flex;
    column-gap: 20px;
}

.contact-item-info a,.contact-item-info span{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #00ec76;
    color: #006923;
    text-decoration: none;
}

.container-item-contact{
 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}


.form-container {
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#1cff68, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
.message{
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px ;
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
}
.message img{
    width: 40px;
}

