@media screen and (max-width: 980px) {
    .items-contact-main {
        justify-content: center;
    }

    .open-to {
        margin: 0 auto;
        justify-content: center;

    }

    .container-text-main {
        text-align: center;
        color: white;
        width: 70%;
    }

    .services-container {
        flex-direction: column;

    }

    .stack-main-service {
        max-width: 90%;
        text-align: center;
    }

    .service {
        border-color: #00ec76;
    }

    .stack-main-service h3 {
        width: 100%;
        font-size: 2.7rem;
    }

    .item-main-skills span {
        text-transform: uppercase;
        padding: .3rem;
        font-size: .7rem;
        background-color: #04bd61;
        color: white;
        font-weight: bold;
        border-radius: 5px;
    }

}

@media screen and (max-width: 768px) {

    nav {

        width: 99%;

    }

    .curve {

        padding: 5px;
    }

    .about-me-container {
        flex-wrap: wrap;
    }

    .stats-container {
        width: 100%;

    }

    /* 
    .eduAndExp{
        flex-wrap: wrap;
        padding: 0px;
      
    } */
    /* .about-me{
        width: 100%;

    } */


    .container-main-items {

        justify-content: center;

    }

    .buttons-containers {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-text-main {
        width: 90%;
        text-align: center;
    }

    .items-contact-main {
        justify-content: center;
    }

    .open-to {
        margin: 0 auto;
        justify-content: center;

    }

    .container--items-social {
        justify-content: center;


    }

    .cnt-inputs input::placeholder {

        font-size: .9rem;
        text-align: left;

    }



}



@media screen and (max-width: 480px) {
    header {
        padding: 4px 0px;

    }

    nav {

        width: 99%;
        padding: 7px 0px;
    }



    .curve {

        padding: 5px;
    }

    .about-me-container {
        flex-wrap: wrap;
    }

    .stats-container {
        width: 100%;

    }

    .eduAndExp {
        flex-wrap: wrap;
        padding: 0px;

    }

    .about-me {
        width: 100%;

    }


    #typed {

        font-size: 1.8rem;
        text-align: center;
    }

    section.row {
        grid-template-columns: 1fr
    }


    .container-main-items {

        justify-content: center;

    }

    .container-text-main {

        width: 90%;
    }

    .container-text-stack-info {
        width: 100%;
    }

    .container-text-information {
        padding-top: 12px;
        width: 100%;
        text-align: center;
    }

    .service {
        padding: 10px 0px;
    }



    .projects-main {
        padding: 8px;
    }

    .buttons-containers {
        row-gap: 20px;
        justify-content: center;
    }


    form {
        width: 100%;
        padding: 20px 5px;
        margin-top: 20px;
    }

    .cnt-inputs input::placeholder {

        font-size: 1rem;
        text-align: left;

    }

    footer {
        padding: 10px;
    }

    .container-footer {
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 20px;
        justify-content: center;
        align-items: flex-start;

    }

    /* #filterInput {
        width: 300px;

    } */


}




@media screen and (max-width: 360px) {

    .chevron-up-container {
        right: 20px;
    }

    header {
        padding: 20px 0px;

    }

    nav {

        width: 93%;
        row-gap: 20px;
        border-radius: 10px;
        padding: 20px 0px;

    }


    .main-selection-nav li a {
        font-size: .9rem;
    }



    .curve {

        padding: 5px;
    }

    .about-me-container {
        flex-wrap: wrap;
    }

    .stats-container {
        width: 100%;

    }

    .eduAndExp {
        flex-wrap: wrap;
        padding: 0px;

    }

    .about-me {
        width: 100%;

    }



    .container-main-items {
        padding-top: 10px;
        justify-content: center;

    }

    .container-text-main {

        width: 90%;
    }

    #typed {

        font-size: 1.4rem;
        text-align: center;
    }

    .open-to {
        width: 300px;
    }

    section.row {
        grid-template-columns: 1fr
    }

    .container-text-stack-info {
        width: 100%;
    }

    .container-text-information {
        padding-top: 12px;
        width: 100%;
        text-align: center;
    }

    .buttons-containers {
        row-gap: 20px;
        justify-content: center;
    }


    .services-container {
        padding: 5px;

    }

    .service {
        padding: 10px;
    }

    .stack-main-service h3 {
        max-width: 100%;

    }


    .projects-main {
        padding: 8px;
    }

    .container-items-contact {
        row-gap: 20px;
    }
/* 
    #filterInput {
        width: 270px;

    } */

    .container-labels {
        flex-wrap: wrap;
        justify-content: start;
    }

    .item-main-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: .4rem;
    }

    .item-main-body h4 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    /* form {
        width: 100%;
        padding: 20px 5px;
    }

    .cnt-inputs input::placeholder {

        font-size: .6rem;
        text-align: left;

    } */

    .contact-item-paragraph {
        width: 100%;

    }

    .contact-item-info{
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
    }


    footer {
        padding: 10px;
    }

    .container-footer {
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;
        align-items: center;

    }
}