:root{
    --mainColor: #17B7CB;
    --blackColor:#111111;
    --whiteColor:#fff;
    --bgrayColor:#27292c;
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    --violet: rgb(161, 132, 240);
    --pink: #d60087;
    --turquoise: #2fdabd;
    
}
html{
    scroll-behavior: smooth ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* cursor: none; */
    
}
body{
    background-color: #000000;
    /* cursor: none; */
    
}
/* progress bar */

.progress-bar{
    position: fixed;
    width: 100%;
    height: 5px;
    z-index: 12;
}

.progress{
    width: 0%;
    height: 100%;
    background-image: linear-gradient(45deg, #17B7CB, rgb(255, 255, 255));
}

/*
Cursor
*/


/* #cursor-dot{
    width: 5px;
    height: 5px;
    background-color: var(--whiteColor);
}
#cursor-outline{
    width: 30px;
    height: 30px;
    border:2px solid var(--mainColor);
}

#cursor-dot,#cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 99;
    pointer-events: none;
} */

/* chevron up  */

.chevron-up-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100% ;
    width:50px;
    height: 50px;
    background-color: rgb(32, 183, 203);
    bottom: 50px;
    right: 100px;
    z-index: 98;
    transform: translateY(100px);
    transition: 0.5s ease ;
    cursor: pointer;
}

.chevron-up-container-on{
    transform: translateY(0px);

}
/* scroll down arrow */
#mouse-scroll {
    position: absolute;
    margin-bottom: 30px;
    left: 50%;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
    z-index: 10;

}
#mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid var(--mainColor);
    top: 170px;
}
#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #ffffff;
    position: relative;
    -webkit-animation: animated-mouse 1.2s ease infinite;
}
#mouse-scroll .down-arrow-1, 
#mouse-scroll .down-arrow-2, 
#mouse-scroll .down-arrow-3 {
     -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite:;
}
#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}
#mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll span {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}


@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
         opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    } 
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}



/* header and nav */

header{
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 11px;
    z-index: 11;
    scroll-behavior: smooth;
}


nav{
    
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    transition: .8s;
    border:1px solid #00ecb4;
    background-color: black;
    -webkit-box-shadow: 3px -7px 35px -27px rgba(0,236,180,1);
-moz-box-shadow: 3px -7px 35px -27px rgba(0,236,180,1);
box-shadow: 3px -7px 35px -27px rgba(0,236,180,1);
    scroll-behavior: smooth;
}

/*
toggle dark mode 
*/


.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-moon {color: #f1c40f;}
  
  .fa-sun {color: #f39c12;}
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }
  

.bgNavabarChange{
    transition: .8s;
    width: 80%;
    border:1px solid  #17B7CB;
}

.logo__navbar{
    width: 70px;
}


.list__navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    list-style: none;
}


.list__navbar a{
    position: relative;
    text-decoration: none;
    color: var(--whiteColor);
    font-weight: 400;
    text-transform: uppercase;
    font-size: .9rem;
}


.list__navbar  a:hover{
    color: var(--mainColor);
}



.list__navbar a::after{
    content: " ";
    position: absolute;
    background-color: var(--mainColor);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
    
}


.list__navbar a:hover::after{
    width: 100%;
    
}




.container_ham{
    display: none;
}
/* 
main section */


main{
    position: relative;
    width: 85%;
    border-radius: 20px;
    padding: 8px;
    margin: 50px auto  20px auto;
    border: thin solid #17B7CB;
    background-image: linear-gradient(to right, #17b7cb, #00cacf, #00dcc7, #00ecb4, #00fb97);     /* background: linear-gradient(100deg, var(--violet) 25%, var(--turquoise) 50%, var(--violet) 75%);  */
    scroll-behavior: smooth;
    
}

/* .port-text{
    background-image: linear-gradient(to right top, #17b7cb, #79c6e5, #b5d6f3, #e2e8fa, #ffffff);
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
} */

.port-text2, .port-text{
    color: #00fb97;
    /* background-image: linear-gradient(to right, #34e7ff, #79c6e5, #b5d6f3, #0f161a, #2e2e2e);
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
}
.container__main_items{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    /* background-color: black; */
    background-color: black;
    border-radius: 1.5rem;
    padding: 20px;
    width: 100%;
}


.container__information{
    width: 580px;
    
}


.first-info-part{
    color: var(--whiteColor);
    font-size:1.6rem ;
    font-weight: bold;
    line-height: 30px;

}

#typed{
    background-image: linear-gradient(to right, #17b7cb, #00cacf, #00dcc7, #00ecb4, #00fb97);    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.7rem;
    font-weight: 800;
    text-transform: uppercase;
    overflow: hidden;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
}

.second-info-part{
    color: var(--whiteColor);
    font-size:1.3rem ;
    line-height: 30px;
    font-weight: 500;
  
}

.img-main{
    width: 400px;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    transform: scaleX(-1);
}

.container--items-social{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    width: 200px;
}

.icon-information{
    width: 30px;
    
}
.a-information-item{
    padding: 5px;
    border-radius: 4px;
    background-color: var(--blackColor);
}

.a-information-item:hover{
    transform: translateY(-5px);
    transition: .2s;
    background-color: white;

}

/* skills main part*/

.container__skills{
    position: relative;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.items-container{

    display: flex;
    row-gap: 40px;
    column-gap: 100px;
    flex-wrap: wrap;
    padding: 0 60px 0 60px;
    align-items: center;
}

.items-skills{
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 0.829);
}

.Tooltip_container{
    position: relative;
}
.tooltipText{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    background-color: #00ecb4;
    color: rgb(2, 2, 2);
    font-weight: bold;
    white-space: nowrap;
    padding: 8px 12px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition:  .4s ease;
}

.Tooltip_container:hover .tooltipText{
    top: -100%;
    visibility: visible;
    opacity: 1;
}
.items-skills:hover{
    color: #00ecb4;
    
}

/* .items-skills:hover{
    color: #17B7CB;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    transition: .3s;
    
} */
/*SERVICES*/

.services-container{
    width: 100%;
    color: white;
    padding:   20px;
    background-color: rgb(5, 5, 5);
}
.services-container .container-cards-services {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    margin-top: 60px;
}
.services-container .container-cards-services .service-card {
    width: 300px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    text-align: center;
}
.services-container .container-cards-services .service-card h1{
    text-transform: capitalize;
    font-size: 1.2rem;
    color: white;
}
.services-container .container-cards-services .service-card p{
    width: 100%;
    height: 100px;
    color: #666666;
}
.services-container .container-cards-services .service-card svg{
    width: 80px;
    color: white;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
}

/* about container */

.about--container{
    background-color: rgb(5, 5, 5);
    width: 100%;
    padding: 40px;
}
.container-about h1{
    font-size: 3rem;
    background-image: linear-gradient(to right, #17b7cb, #00cacf, #00dcc7, #00ecb4, #00fb97);    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 30px 0px;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    text-align: left;
    text-transform: uppercase;
}
.container-about a{
    text-decoration: none;
    color: var(--mainColor);
}
.container-about a:hover{
    color: white;
    transition: .2s;
}

.container-text-about{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 70px;

}

#img-items-about{
    width: 150px;
    display: block;
    overflow: hidden;
}

.container-img-about{
    
    width: 300px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 20px 5px;
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: var(--blackColor);
    -webkit-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
-moz-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
}
.container-github-info{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bgrayColor);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid var(--whiteColor);
}
.container-github-info .items-git h1{
    font-size: 1rem;
}
.container-about p{
    width: 700px;
    font-size: 1.1rem;
    text-transform: none;
    text-align: left;
    margin-bottom: 20px;
    filter: none;
    color: white;
}

.cv-download a{
    background-color: var(--whiteColor) ;
    color: var(--blackColor);
    width: 20%;
    font-size: 1.2rem;
    padding: 10px 60px;
    border-radius: 7px;
    border: 1px solid  var(--mainColor);
}
.cv-download a:hover{
    color:  var(--whiteColor);
    background-color: var(--blackColor);
    transition: .2s linear;
}
/* .container-text-about::-webkit-scrollbar-track {
    background-color: rgb(11, 11, 11);
  }
.container-text-about::-webkit-scrollbar-thumb{
    background-color: #000000;
    
} 
.container-text-about::-webkit-scrollbar{
    width: 0;
} */






/* Proyectos*/
.container-projects-section{
    /* background-color: rgb(12, 12, 12); */
 
    width: 100%;
    height: auto;
    padding: 50px 50px 0px 50px;
    margin-bottom:50px;     
}
.container-projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.title-projects{
    margin: 0 0 30px 0;
    font-size: 2rem;
    font-size: 3rem;
    background-image: linear-gradient(to right, #17b7cb, #00cacf, #00dcc7, #00ecb4, #00fb97);    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 20px 0px;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    text-align: center;
    text-transform: uppercase;
}
.text-projects{
    color: white;
    margin-bottom: 50px;
    padding: 20px 60px;
}

.item-project{
    position: relative;
    width: 380px;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid black;
    -webkit-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
-moz-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
}

.container-item-body{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(5px);
    transition: .3s linear;
    display: flex;
    align-items: center;
    padding: 15px;
    
}

.item-body{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.788);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    justify-content: center;
    padding: 2px;
    text-align: center;
    
}

.item-project:hover .container-item-body{
    bottom: 0;
}

.item-body h3{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--mainColor);
}

.item-body p{
    font-size: 1rem;
    color: var(--whiteColor);
}

.item-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.container-tech img{
    width: 35px;
}




.container-live {
    width: 100%;
   display: flex;
   justify-content: center;
   column-gap: 20px;

}

.container-live a{
    padding: 6px 30px;
    color: white;
    text-decoration: none;
    border: 1px solid var(--mainColor);
    border-radius:10px ;
    font-weight: bold;

}

.container-live a:hover{
    background-color: var(--whiteColor);
    color: var(--blackColor);
    transition: .2s linear; 

}

/* .container-projects-others{
background-color: #fff;
} */

.container-projects-others{
    width: 100%;
    height: auto;
    padding: 20px 10px 30px 10px;
    margin-bottom:0px; 
}


.container-other-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 20px;
    row-gap: 30px;
    transition: .5s;
}
.others-item{
    width: 25%;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 10px;
    padding: 20px 10px;
    text-decoration: none;
    /* background-color: var(--bgrayColor); */
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    transition: all .3s;
    
}


.container-projects-others .others-item:hover {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1.1);
}
/* .others-item:hover{
    transform: translate(4px,-4px);
    border: 1px solid white;
    transition: .3s cubic-bezier(.4,0,.2,1);
   
} */
.others-item h3{
    color: #00ecb4;
    font-size: .9rem;
    text-transform: uppercase;
    width: 100%;
}

.others-item p{
    color: rgb(182, 180, 180);
    font-size: .8rem;
    width: 100%;
}
.tech-others img{
    width: 15px;
    
}

.Ocultar-prod{
    display: none;
}

.Mostrar-Item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 20px;
    row-gap: 30px;
    
    
}
.btn-container-items{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
#btn__more{
    margin: 30px auto;
    padding: 10px 40px;
    background-color: #00ecb4;
    text-transform: uppercase;
    font-weight: bold;
    color:var(--bgrayColor);
    text-align: center;
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    cursor: pointer;
}

.container-contact{
    width: 100%;
    padding: 40px 60px;
    background-color: rgb(5, 5, 5);
}


.container-contact h1 ,.services-container h1{
    font-size: 3rem;
    background-image: linear-gradient(to right, #17b7cb, #00cacf, #00dcc7, #00ecb4, #00fb97);    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 50px 0px;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    text-align: center;
    text-transform: uppercase;
}

.container-contact h2{
    font-size: 1.2rem;
    color: var(--whiteColor);
    margin-bottom: 50px;
    font-weight: 200;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.301));
    text-align: center;
    text-transform: uppercase;
}



.container-items-contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

form{
    width: 50%;
    padding: 60px 10px;
    display: flex;
    row-gap: 20px;
    border-radius: 20px;
    border: 1px solid #00ecb4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blackColor);
    -webkit-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
-moz-box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
box-shadow: 1px 10px 25px -7px rgba(0,0,0,0.97);
}

.cnt-inputs{
    width: 90%;
    display: flex;
    column-gap: 30px;
    
}
.cnt-inputs input{
    width: 90%;
    padding: 8px 10px;
    outline: none;
    background-color: transparent;
    border-top: none;
    border-left:none ;
    border-right: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1.1rem;
    
    
}

.cnt-inputs input:hover{
    border-bottom: 1px solid #00dcc7;
    transition: .2s;
}
.cnt-inputs input::placeholder, #text-contact::placeholder{
    color: white;
    font-size: 1.1rem;
    text-align: center;
}
#text-contact{
    resize: none;
    width: 100%;
    outline: none;
    background-color: transparent;
    border-top: none;
    border-left:none ;
    border-right: none;
    border-bottom: 1px solid white;
    margin-top: 10%;
    color: white;
    font-size: 1.1rem;
}
form button{
    border: none;
    padding: 15px 40px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--whiteColor);
    color: var(--blackColor);
    border: 1px solid var(--whiteColor);
}
form button:hover{
    background-color: var(--blackColor);
    color: var(--whiteColor);
    transition: .2s linear;
    border: 1px solid var(--whiteColor);
    cursor: pointer;
}
.container-fast-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    outline: none;
    
}
.fast-item-contact p{
    color: white;
    margin-bottom: 20px;
    font-size: 1.3rem;
}
.container-fast-items a{
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    align-items: center;
    width: 250px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 1.1rem;
    border: 1px solid white;
    padding: 5px;
    border-radius: 8px;
}
.container-fast-items a:hover{
    border: 1px solid #00ecb4;
    color: var(--blackColor);
    background-color: var(--whiteColor);
    transform: translate(5px, -5px);
    transition: .3s linear;
}

.container-fast-items a svg{
    width: 30px;

}

footer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px ;
    color: var(--whiteColor);
}

footer img{
    width: 100px;
}

/* .music-player{
    background-color: #fff;
    padding: 50px;
}
.playerTitle{
    color: #000;
}
.container-player{
   background-color: #2fdabd;
   width: 40%;
}
.buttons-player{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-player span{
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ea5358;
}



.buttons-player span i{
    font-size: 1.4rem;
    color: white;
}

.buttons-player span:active{
    background-color: #27292c;
 
} */

.last-navigation{
    padding: 60px;
}

.container-list-items-foot{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    color: white;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container-list-items-foot h2{
    color: #00ecb4;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.navi-container .list__navbar-navi ,.source-code,.hosting-code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--blackColor);
    text-align: center;
}
.navi-container .list__navbar-navi a{
    text-decoration: none;
}
.source-code a, .hosting-code a ,.navi-container .list__navbar-navi a{
    text-decoration: none;

    
} 
.languages ,.tech-navi{
    text-align: center;
}


.source-code a:hover, .hosting-code a:hover ,.navi-container .list__navbar-navi a:hover,.languages p:hover ,.tech-navi p:hover{
    
    color: #00ecb4;
    
} 
.source-code a, .hosting-code a ,.navi-container .list__navbar-navi a,.languages p,.tech-navi p{
    color: rgb(109, 109, 109);
} 
