:root{
    --mainColor: #17B7CB;
    --blackColor:#111111;
    --whiteColor:#fff;
    --bgrayColor:#27292c;
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    --violet: rgb(161, 132, 240);
    --pink: #d60087;
    --turquoise: #2fdabd;
    
}
html{
    scroll-behavior: smooth ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;;
}
body{
    background-color: #000;
    
}
/* progress bar */

.progress-bar{
    position: fixed;
    width: 100%;
    height: 5px;
    z-index: 12;
}

.progress{
    width: 0%;
    height: 100%;
    background-image: linear-gradient(45deg, #17B7CB, rgb(255, 255, 255));
}



/* chevron up  */

.chevron-up-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100% ;
    width:50px;
    height: 50px;
    background-color: rgb(32, 183, 203);
    bottom: 50px;
    right: 100px;
    z-index: 98;
    transform: translateY(100px);
    transition: 0.5s ease ;
}

.chevron-up-container-on{
    transform: translateY(0px);
    cursor: pointer;
}
/* scroll down arrow */
#mouse-scroll {
    position: absolute;
    margin-bottom: 30px;
    left: 50%;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
    z-index: 10;

}
#mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid var(--mainColor);
    top: 170px;
}
#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #ffffff;
    position: relative;
    -webkit-animation: animated-mouse 1.2s ease infinite;
}
#mouse-scroll .down-arrow-1, 
#mouse-scroll .down-arrow-2, 
#mouse-scroll .down-arrow-3 {
     -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite:;
}
#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}
#mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll span {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}


@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
         opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    } 
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}



/* header and nav */

header{
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 11px;
    z-index: 11;
    scroll-behavior: smooth;
}


nav{
    
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    transition: .8s;
    border:1px solid var(--whiteColor);
    background-color: var(--blackColor);
    -webkit-box-shadow: 14px 15px 14px -10px rgba(0,0,0,0.59);
    -moz-box-shadow: 14px 15px 14px -10px rgba(0,0,0,0.59);
    box-shadow: 14px 15px 14px -10px rgba(0,0,0,0.59);
    scroll-behavior: smooth;
}

.bgNavabarChange{
    transition: .8s;
    width: 80%;
    border:1px solid  #17B7CB;
}

.logo__navbar{
    width: 70px;
}


.list__navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    list-style: none;
}


.list__navbar a{
    position: relative;
    text-decoration: none;
    color: var(--whiteColor);
    font-weight: 400;
    text-transform: uppercase;
    font-size: .9rem;
}


.list__navbar  a:hover{
    color: var(--mainColor);
}



.list__navbar a::after{
    content: " ";
    position: absolute;
    background-color: var(--mainColor);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
    
}


.list__navbar a:hover::after{
    width: 100%;
    
}




.container_ham{
    display: none;
}
/* 
main section */


main{
    position: relative;
    width: 85%;
    border-radius: 20px;
    padding: 8px;
    margin: 50px auto  20px auto;
    border: thin solid #17B7CB;
    background: linear-gradient(100deg, var(--violet) 25%, var(--turquoise) 50%, var(--violet) 75%); 
    scroll-behavior: smooth;
    
}

.port-text{
    background-image: linear-gradient(45deg, #17B7CB, rgb(204, 0, 255));
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.port-text2{
    background-image: linear-gradient(45deg, rgb(204, 0, 255), #17B7CB);
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.container__main_items{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    /* background-color: black; */
    background-image: linear-gradient(to right, #000000, #0d0b0e, #12131a, #0a1114, #144b52);
    border-radius: 1.5rem;
    padding: 20px;
    width: 100%;
}


.container__information{
    width: 530px;
    
}


.first-info-part{
    color: var(--whiteColor);
    font-size:1.2rem ;

}

#typed{
    color: var(--mainColor);
    font-size: 2.3rem;
    font-weight: 800;
    text-transform: uppercase;
    overflow: hidden;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
}

.second-info-part{
    color: var(--whiteColor);
    font-size:1.2rem ;
  
}

.img-main{
    width: 400px;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    transform: scaleX(-1);
}

.container--items-social{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    width: 200px;
}

.icon-information{
    width: 30px;
    
}
.a-information-item{
    padding: 5px;
    border-radius: 4px;
    background-color: var(--blackColor)
}

.a-information-item:hover{
    transform: translateY(-5px);
    transition: .2s;
    background-color: white;

}

/* skills main part*/

.container__skills{
    position: relative;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.items-container{

    display: flex;
    row-gap: 25px;
    column-gap: 100px;
    flex-wrap: wrap;
    padding: 0 60px 0 60px;
}

.items-skills{
    width: 40px;
    color: rgba(255, 255, 255, 0.322);

   
}

.items-skills:hover{
    color: #17B7CB;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    transition: .3s;
    
}


/* about container */

.about--container{
    background-color: rgb(5, 5, 5);
    width: 100%;
    padding: 40px;
}
.container-about h1{
    font-size: 2rem;
    color: var(--whiteColor);
    margin: 30px 0px;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    text-align: left;
    text-transform: uppercase;
}
.container-about a{
    text-decoration: none;
    color: var(--mainColor);
}
.container-about a:hover{
    color: white;
    transition: .2s;
}

.container-text-about{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 70px;

}

#img-items-about{
    width: 150px;
    display: block;
    overflow: hidden;
}

.container-img-about{
    width: 300px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 20px 5px;
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    text-align: center;
    color: white;
    -webkit-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
}
.container-github-info{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bgrayColor);
    border-radius: 10px;
    padding: 5px;
}
.container-github-info .items-git h1{
    font-size: 1rem;
}
.container-about p{
    width: 700px;
    font-size: 1.1rem;
    text-transform: none;
    text-align: left;
    margin-bottom: 20px;
    filter: none;
    color: white;
}
/* .container-text-about::-webkit-scrollbar-track {
    background-color: rgb(11, 11, 11);
  }
.container-text-about::-webkit-scrollbar-thumb{
    background-color: #000000;
    
} 
.container-text-about::-webkit-scrollbar{
    width: 0;
} */

/* 
vetical menu */



.container__social_vertical{
    position: fixed;
    z-index: 11;
    bottom: 10px;
    left: 40px;
    list-style: none;
}

.container__social_vertical ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

.social-vertical-item{
    width: 20px;
    color: rgba(255, 255, 255, 0.322);
    margin-top: 10px;
}

.social-vertical-item:hover{
    color: #17B7CB;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    transition: .3s;
    
}


/* Estudios */

.container-estudios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.item-estudio{
    text-align: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.item-estudio  h3{
    font-size: 1.1rem;
    color: var(--whiteColor);
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    text-transform: uppercase;
    text-align: center;
}
.item-estudio  h4{
    font-size: 1rem;
    color: var(--mainColor);
    text-align: left;
    text-transform: uppercase;
}
.item-estudio p{
    color: white;

}


/* Proyectos*/
.container-projects{
    /* background-color: rgb(12, 12, 12); */
    
    width: 100%;
    height: auto;
    padding: 50px 50px 0px 50px;
     margin-bottom:50px;     
}

.title-projects{
    margin: 0 0 30px 0;
    font-size: 2rem;
    color: var(--whiteColor);
    margin: 50px 0px;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    text-align: center;
    text-transform: uppercase;
}
.container-projects-main::-webkit-scrollbar-track {
    background-color: rgb(31, 31, 31);
  }

.container-projects-main::-webkit-scrollbar-thumb{
    background-color: rgb(31, 31, 31);
}
.container-projects-main::-webkit-scrollbar{
    width: 0;
}
.container-projects-main{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    scrollbar-width: thin;
    margin-bottom: 30px;
    scrollbar-color:   white rgb(31, 31, 31);
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: rgb(5, 5, 5) rgb(5, 5, 5);
}



.item-project{
    position: relative;
    width: 280px;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid black;
    
}


.item-project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.container-item-body{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(5px);
    transition: .3s linear;
    display: flex;
    align-items: center;
    padding: 15px;
    
}
.item-body{
    width: 100%;
    height: 80%;
    background-color: #000000e0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    padding: 2px;
    text-align: center;
    -webkit-box-shadow: -1px 2px 16px 12px rgba(18,18,18,1);
    -moz-box-shadow: -1px 2px 16px 12px rgba(18,18,18,1);
    box-shadow: -1px 2px 16px 12px rgba(18,18,18,1);
}

.item-project:hover .container-item-body{
    bottom: 0;
}

.item-project h1{
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    color: var(--mainColor);
    padding-bottom: 2px;
    border-bottom: 1px solid var(--mainColor);
}
.item-body h2{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: white;

}
.item-body p{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 14px;
}



.etiquetas-tect span{
    padding: 5px;
    background-color: var(--bgrayColor);
    color: var(--whiteColor);
    font-size: 10px;
    border-radius: 2px;
}
.etiquetas-tect{
    display: flex;
    column-gap: 4px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.etiquetas-tect .demo:hover{
    color: #0cd2ec;
}
.etiquetas-tect span{
    background: #000000d3;
    border-radius: 2px;
}
.etiquetas-tect span:hover{
    background-color: var(--mainColor);
}


.etiquetas-tect a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.etiquetas-tect a:hover{
    color: #ea5358;
}
#project-link{
    margin:0 auto;
    width: 300px;
    padding: 10px 30px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    color: var(--mainColor);
    background-color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
    text-decoration: none;
}
#project-link:hover{
    background-color: var(--mainColor);
    color: white;
    transition: .4s;
    cursor: pointer;
}

/* section de contacto  */


.container-contact{
    width: 100%;
    padding: 60px;
    background-color: rgb(5, 5, 5);
}


.container-contact h1{
    font-size: 2rem;
    color: var(--whiteColor);
    margin: 50px 0px;
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    text-align: center;
    text-transform: uppercase;
}

.container-items-contact h2{
    font-size: 1.2rem;
    color: var(--whiteColor);
    margin-bottom: 20px;
    font-weight: 200;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.301));
    text-align: center;
    text-transform: uppercase;
}

.container-items-contact p{
    font-size: 1.1rem;
    color: var(--whiteColor);
    margin-bottom: 20px;
    font-weight: 200;
    filter: none;
    text-align: center;
}

form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 30px;
}
.cnt-inputs{
    display: flex;
    column-gap: 50px;
}
.cnt-inputs input{
    width: 300px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--mainColor);
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    
}

form textarea{
    width: 400px;
    resize: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--mainColor);
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 1.2rem;
}

form button{
    width: 310px;
    padding: 10px 30px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    color: var(--whiteColor);
    background-color: var(--mainColor);
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
}

form button:hover{
    background-color: var(--whiteColor);
    color: var(--mainColor);
    transition: .4s;
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 50px 50px 20px 50px;
    text-align: center;
    color: white;
}

footer img{
    width: 60px;
    margin: 0 auto;
   
}

.container-final{
    color: white;
    text-align: center;
}



.container-items-last{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    /* background-color: #12131a41; */

}
.container-items-links{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.container-items-links a{

    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: .3s;

}

.container-items-links a:hover{
    border-bottom: 1px solid var(--mainColor);
    
}

.container-idioma{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
}


.container-idioma p:nth-of-type(1):hover{
    color: #ea5358;

}

.container-idioma p:nth-of-type(2):hover{
    color: #0cd2ec;

}


