:root{
    --mainColor: #17B7CB;
    --blackColor:#111111;
    --whiteColor:#fff;
    --bgrayColor:#27292c;
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    --violet: rgb(161, 132, 240);
    --pink: #d60087;
    --turquoise: #2fdabd;
    
}
@media screen and (max-width: 1160px){
    #mouse-scroll{
        display: none;
    }
    .first-info-part,.second-info-part{
        font-size:1.4rem ;
    }
    #typed{
        font-size: 1.8rem;
    }

    .container--items-social{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
    }

    .img-main{
        width: 300px;
        
    }
    .icon-information{
        width: 30px;
        
    }

    .container-elements-exter{
        display: none;
    }

        /* skills main part*/

        .container__skills{
            padding: 10px;
        }
    
        .items-container{
            justify-content: center;
            row-gap: 40px;
            column-gap: 90px;
            padding: 0;
        }
        .items-skills{
            width: 45px;
        }
    
        .container-text-about{
            display: block;
            width: 100%;
            padding-top: 10px;
        }


        
    /* about container */

    
    .about--container{
        padding: 10px;
    }
    .container-about h1{
        text-align: center;
    }
    
    .container-text-about{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 70px;
    
    }
    
    #img-items-about{
        width: 150px;
        display: block;
        overflow: hidden;
    }
    
    
    
    .container-about p{
        width: 100%;
    }
    
    
    .cv-download {
        text-align: center;
        margin:  0 auto;
    }



    .cnt-inputs{
        width: 90%;
        display: flex;
        column-gap: 10px;
        row-gap: 20px;
        
    }
    .cnt-inputs input{
        width: 100%;
        padding: 2px 5px;
        font-size: 1rem;
        
        
    }

    .cnt-inputs input::placeholder, #text-contact::placeholder{
        color: white;
        font-size: 1rem;
        text-align: center;
    }
    
    
        

}

@media screen and (max-width: 980px){
  

    #mouse-scroll{
        display: none;
    }


    main{
        width: 95%;
        border-radius: 20px;
        padding: 4px;
        margin: 30px auto  10px auto;
        border-radius: 10px;
        
    }

    .container__main_items{
        display: flex;
        flex-direction: column;
    }

    .container__information{
        width: auto;
        text-align: center;
        
    }

    .first-info-part,.second-info-part{
        font-size:1.6rem ;
    }
    #typed{
        font-size: 2rem;
    }

    .container--items-social{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
    }

    .img-main{
        width: 300px;
        
    }
    .icon-information{
        width: 40px;
        
    }


    .items-container{
        display: flex;
        justify-content: center;
        row-gap: 25px;
        column-gap: 100px;
        flex-wrap: wrap;
        padding: 0 60px 0 60px;
    }

    .container-text-about{
        display: block;
        width: 100%;
        padding-top: 10px;
    }
    .container-elements-exter{
        display: none;
    }

    
    /* about container */

    
    .about--container{
        padding: 10px;
    }
    .container-about h1{
        text-align: center;
    }
    
    .container-text-about{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 70px;
    
    }
    
    #img-items-about{
        width: 150px;
        display: block;
        overflow: hidden;
    }
    
    
    
    .container-about p{
        width: 100%;
    }
    
    .cv-download {
        text-align: center;
        margin:  0 auto;
    }


    form{
        width: 50%;
        padding:40px 10px;
    }
    
    .cnt-inputs{
        width: 90%;
        display: flex;
        column-gap: 10px;
        row-gap: 20px;
        
    }
    .cnt-inputs input{
        width: 100%;
        padding: 2px 5px;
        font-size: 1rem;
        
        
    }

    .cnt-inputs input::placeholder, #text-contact::placeholder{
        color: white;
        font-size: .8rem;
        text-align: center;
    }

}

@media screen and (max-width: 768px){

    
    nav{
        width: 99%;
        border-radius: 10px;

    }
    
    .list__navbar{
        width: 100%;
        height: 200px;
        position: absolute;
        top: 80px;
        display: none;
        flex-direction: column;
        list-style: none;
        border-radius: 10px;
        background-color: var(--blackColor);
        transition: 2s;
        
    }
    
    

    .logo__navbar{
        width: 50px;
    }
    .whiteMode  .list__navbar{
        background-color: white;
        
    }

    
    .whiteMode .container_ham{
        display: block;
        color: black;
        
    }
    .container_ham{
        display: block;
        color: white;
        
    }

    .toggle-activate{
        
        display: flex;
        right: 0;
       
    }



    #mouse-scroll{
        display: none;
    }


    main{
        width: 95%;
        border-radius: 20px;
        padding: 4px;
        margin: 30px auto  10px auto;
        border-radius: 10px;
        
    }

    .container__main_items{
        display: flex;
        flex-direction: column;
    }

    .container__information{
        width: auto;
        text-align: center;
        
    }

    .first-info-part,.second-info-part{
        font-size:1.5rem ;
    }
    #typed{
        font-size: 1.9rem;
    }

    .container--items-social{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
    }

    .img-main{
        width: 200px;
        
    }



    /* skills main part*/

    .container__skills{
        padding: 10px;
    }

    .items-container{
        justify-content: center;
        row-gap: 30px;
        column-gap: 40px;
        padding: 0;
    }
    .items-skills{
        width: 45px;
    }

    .container-text-about{
        display: block;
        width: 100%;
        padding-top: 10px;
    }


.container-elements-exter{
    display: none;
}


    /* about container */

    
    .about--container{
        padding: 10px;
    }
    .container-about h1{
        text-align: center;
    }
    
    .container-text-about{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 70px;
    
    }
    
    #img-items-about{
        width: 100px;
        display: block;
        overflow: hidden;
    }
    
    
    
    .container-about p{
        width: 100%;
    }
     
.cv-download {
    text-align: center;
    margin:  0 auto;
}

/*Projects*/
.container-projects-others{
    padding: 0px;

}

.container-other-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 10px;
    row-gap: 30px;
}
.others-item{
    width: 23%;
    height: 115px;
    row-gap: 5px;
    padding: 0px;
    text-decoration: none;
    background-color: var(--bgrayColor);
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    text-align: center;
    
}
.others-item:hover{
    transform: translate(4px,-4px);
    border: 1px solid white;
    transition: .3s cubic-bezier(.4,0,.2,1);
   
}
.others-item h3{
    color: rgb(255, 255, 255);
    font-size: .8rem;
}

.others-item p{
    color: rgb(182, 180, 180);
    font-size: .7rem;
}
.tech-others img{
    width: 11px;
}


.container-items-contact{
    row-gap: 30px;
}

/* section de contacto  */
.container-contact{
    width: 100%;
    padding: 10px;
    background-color: rgb(5, 5, 5);
}

form{
    width: 90%;
    padding:40px 10px;
}

.cnt-inputs{
    width: 90%;
    display: flex;
    column-gap: 30px;
    row-gap: 20px;
    
}
.cnt-inputs input{
    width: 100%;
    padding: 4px 10px;
    font-size: 1rem;
    
    
}
.cnt-inputs input::placeholder, #text-contact::placeholder{
    font-size: .9rem;
    
}
#text-contact{
    resize: none;
    width: 100%;
    outline: none;
    background-color: transparent;
    border-top: none;
    border-left:none ;
    border-right: none;
    border-bottom: 1px solid white;
    margin-top: 0%;
    color: white;
    font-size: 1.1rem;
}
form button{
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}


footer{

    text-align: center;
}

    
    


}

@media screen and (max-width: 480px){



    .habilidades-container h1,
    .container-text-about h1,
    .title-contact,
    .container-contact h1{
        font-size: 2rem;
    }
   
   
    .title-projects{
        font-size: 2rem;
    } 



    nav{
        width: 99%;
        border-radius: 10px;

    }
    
    .list__navbar{
        width: 100%;
        height: 200px;
        position: absolute;
        top: 80px;
        display: none;
        flex-direction: column;
        list-style: none;
        border-radius: 10px;
        background-color: var(--blackColor);
        transition: 2s;
        
    }
   

    .whiteMode  .list__navbar{
        background-color: white;
        
    }

    
    .whiteMode .container_ham{
        display: block;
        color: black;
       
    }
    

    .logo__navbar{
        width: 50px;
    }
    
    .container_ham{
        display: block;
        color: white;
        
    }

    .toggle-activate{
        
        display: flex;
        right: 0;
       
    }

    .chevron-up-container{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:100% ;
        width:40px;
        height: 40px;
        background-color: rgb(32, 183, 203);
        bottom: 50px;
        right: 20px;
        z-index: 98;
        transform: translateY(100px);
        transition: 0.5s ease ;
    }

    #mouse-scroll{
        display: none;
    }
  

    /*MAIN */

    main{
        width: 95%;
        border-radius: 20px;
        padding: 4px;
        margin: 30px auto  10px auto;
        border-radius: 10px;
        
    }

    .container__main_items{
        display: flex;
        flex-direction: column;
    }

    .container__information{
        width: auto;
        text-align: center;
        
    }

    .first-info-part,.second-info-part{
        font-size:1.1rem ;
    }
    #typed{
        font-size: 1.5rem;
    }

    .container--items-social{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
    }

    .img-main{
        width: 200px;
        
    }


    /* skills main part*/

    .container__skills{
        padding: 10px;
    }

    .items-container{
        justify-content: center;
        row-gap: 25px;
        column-gap: 40px;
        padding: 0;
    }
    .items-skills{
        width: 35px;
    }


   
    /* about container */

    
.about--container{
    padding: 10px;
}
.container-about h1{
    font-size: 2rem;
    text-align: center;
}

.container-text-about{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 70px;

}

#img-items-about{
    width: 100px;
    display: block;
    overflow: hidden;
}



.container-about p{
    width: 100%;
    font-size: 1.1rem;
}


 
.cv-download {
    text-align: center;
    margin:  0 auto;
}

/*Projects*/
.container-projects-others{
    padding: 0px;

}

.container-other-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 10px;
    row-gap: 30px;
}
.others-item{
    width: 25%;
    height: 135px;
    row-gap: 5px;
    padding: 0px;
    text-decoration: none;
    background-color: var(--bgrayColor);
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    text-align: center;
    
}
.others-item:hover{
    transform: translate(4px,-4px);
    border: 1px solid white;
    transition: .3s cubic-bezier(.4,0,.2,1);
   
}
.others-item h3{
    color: rgb(255, 255, 255);
    font-size: .8rem;
}

.others-item p{
    color: rgb(182, 180, 180);
    font-size: .7rem;
}
.tech-others img{
    width: 11px;
}


.container-items-contact{
    row-gap: 30px;
}

/* section de contacto  */
.container-contact{
    width: 100%;
    padding: 10px;
    background-color: rgb(5, 5, 5);
}

form{
    width: 90%;
    padding:10px;
}

.cnt-inputs{
    width: 90%;
    display: flex;
    column-gap: 30px;
    row-gap: 20px;
    
}
.cnt-inputs input{
    width: 100%;
    padding: 4px 10px;
    font-size: 1rem;
    
    
}
.cnt-inputs input::placeholder, #text-contact::placeholder{
    font-size: .9rem;
    
}
#text-contact{
    resize: none;
    width: 100%;
    outline: none;
    background-color: transparent;
    border-top: none;
    border-left:none ;
    border-right: none;
    border-bottom: 1px solid white;
    margin-top: 0%;
    color: white;
    font-size: 1.1rem;
}
form button{
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}


footer{

    text-align: center;
}








}

@media screen and (max-width: 360px){

    .habilidades-container h1,
    .container-text-about h1,
    .title-contact,
    .container-contact h1{
        font-size: 2rem;
    }
   

    .title-projects{
        font-size: 2rem;
    } 

    nav{
        width: 99%;
        border-radius: 10px;

    }
    
    .list__navbar{
        width: 100%;
        height: 200px;
        position: absolute;
        top: 80px;
        display: none;
        flex-direction: column;
        list-style: none;
        border-radius: 10px;
        background-color: var(--blackColor);
        transition: 2s;
    
    }

    .whiteMode  .list__navbar{
        background-color: white;
        
    }

    
    .whiteMode .container_ham{
        display: block;
        color: black;
     
    }
    
    
    

    .logo__navbar{
        width: 50px;
    }
    
    .container_ham{
       
        display: block;
        color: white;
        
    }


    .toggle-activate{
        
        display: flex;
        
       
    }
    .chevron-up-container{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:100% ;
        width:40px;
        height: 40px;
        background-color: rgb(32, 183, 203);
        bottom: 50px;
        right: 20px;
        z-index: 98;
        transform: translateY(100px);
        transition: 0.5s ease ;
    }

    #mouse-scroll{
        display: none;
    }

    main{
        width: 95%;
        border-radius: 20px;
        padding: 4px;
        margin: 30px auto  10px auto;
        border-radius: 10px;
        
    }

    .container__main_items{
        display: flex;
        flex-direction: column;
    }

    .container__information{
        width: auto;
        text-align: center;
        
    }

    .first-info-part,.second-info-part{
        font-size:1.1rem ;
    }
    #typed{
        font-size: 1.5rem;
    }

    .container--items-social{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
    }

    .img-main{
        width: 200px;
        
    }

    .icon-information{
        width: 25px;
        
    }




    /* about container */

    
.about--container{
    padding: 10px;
}
.container-about h1{
    font-size: 2rem;
    text-align: center;
}

.container-text-about{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 70px;

}

#img-items-about{
    width: 100px;
    display: block;
    overflow: hidden;
}



.container-about p{
    width: 100%;
    font-size: 1.1rem;
}



.cv-download {
    text-align: center;
    margin:  0 auto;
}

    
/* section de contacto  */

.container-projects-others{
    padding: 0px;

}

.container-other-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 20px;
    row-gap: 30px;
}
.others-item{
    width: 23%;
    height: 135px;
    row-gap: 5px;
    padding: 0px;
    text-decoration: none;
    background-color: var(--bgrayColor);
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    text-align: center;
    
}
.others-item:hover{
    transform: translate(4px,-4px);
    border: 1px solid white;
    transition: .3s cubic-bezier(.4,0,.2,1);
   
}
.others-item h3{
    color: rgb(255, 255, 255);
    font-size: .7rem;
}

.others-item p{
    color: rgb(182, 180, 180);
    font-size: .6rem;
}
.tech-others img{
    width: 10px;
}


.container-items-contact{
    row-gap: 30px;
}


.title-projects{
    font-size: 1.9rem;
}
.text-projects{
    color: white;
    margin-bottom: 50px;
    padding: 20px 60px;
}

/* .item-project{
    position: relative;
    width: 50%;
    height: 250px;

    
} */


.item-body h3{
    font-size: 1.3rem;
    text-transform: capitalize;
    color: var(--mainColor);
}

.item-body p{
    font-size: 1rem;
    color: #00ecb4;
}


.container-tech img{
    width: 25px;
}
.container-live a{
    padding: 6px 20px;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid var(--mainColor);
    border-radius:10px ;
    font-weight: bold;

} */

form{
    width: 90%;
    padding:10px;
}

.cnt-inputs{
    width: 90%;
    display: flex;
    column-gap: 30px;
    row-gap: 20px;
    
}
.cnt-inputs input{
    width: 100%;
    padding: 4px 10px;
    font-size: 1rem;
    
    
}
.cnt-inputs input::placeholder, #text-contact::placeholder{
    font-size: .9rem;
    
}
#text-contact{
    resize: none;
    width: 100%;
    outline: none;
    background-color: transparent;
    border-top: none;
    border-left:none ;
    border-right: none;
    border-bottom: 1px solid white;
    margin-top: 0%;
    color: white;
    font-size: 1.1rem;
}
form button{
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}


footer{

    text-align: center;
}








}






















