@media screen and (max-width: 1160px){
    #mouse-scroll{
        display: none;
    }
    .first-info-part,.second-info-part{
        font-size:1.4rem ;
    }
    #typed{
        font-size: 1.8rem;
    }

    .container--items-social{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
    }

    .img-main{
        width: 300px;
        
    }
    .icon-information{
        width: 30px;
        
    }

    .container-elements-exter{
        display: none;
    }

        /* skills main part*/

        .container__skills{
            padding: 10px;
        }
    
        .items-container{
            justify-content: center;
            row-gap: 40px;
            column-gap: 90px;
            padding: 0;
        }
        .items-skills{
            width: 45px;
        }
    
        .container-text-about{
            display: block;
            width: 100%;
            padding-top: 10px;
        }


        
    /* about container */

    
    .about--container{
        padding: 10px;
    }
    .container-about h1{
        text-align: center;
    }
    
    .container-text-about{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 70px;
    
    }
    
    #img-items-about{
        width: 150px;
        display: block;
        overflow: hidden;
    }
    
    
    
    .container-about p{
        width: 100%;
    }
    
    
    /* Estudios */
    
    .container-estudios{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
        
    }
    
    .item-estudio{
        text-align: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    }
    
    .item-estudio  h3{
        color: var(--whiteColor);
        filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
        text-transform: uppercase;
        text-align: center;
    }
    .item-estudio  h4{
        color: var(--mainColor);
        text-align: left;
        text-transform: uppercase;
    }
    .item-estudio p{
        color: white;
    
    }
        

}

@media screen and (max-width: 980px){
  

    #mouse-scroll{
        display: none;
    }


    main{
        width: 95%;
        border-radius: 20px;
        padding: 4px;
        margin: 30px auto  10px auto;
        border-radius: 10px;
        
    }

    .container__main_items{
        display: flex;
        flex-direction: column;
    }

    .container__information{
        width: auto;
        text-align: center;
        
    }

    .first-info-part,.second-info-part{
        font-size:1.6rem ;
    }
    #typed{
        font-size: 2rem;
    }

    .container--items-social{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
    }

    .img-main{
        width: 300px;
        
    }
    .icon-information{
        width: 40px;
        
    }


    .items-container{
        display: flex;
        justify-content: center;
        row-gap: 25px;
        column-gap: 100px;
        flex-wrap: wrap;
        padding: 0 60px 0 60px;
    }

    .container-text-about{
        display: block;
        width: 100%;
        padding-top: 10px;
    }
    .container-elements-exter{
        display: none;
    }

    
    /* about container */

    
    .about--container{
        padding: 10px;
    }
    .container-about h1{
        text-align: center;
    }
    
    .container-text-about{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 70px;
    
    }
    
    #img-items-about{
        width: 150px;
        display: block;
        overflow: hidden;
    }
    
    
    
    .container-about p{
        width: 100%;
    }
    
    
    /* Estudios */
    
    .container-estudios{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
        
    }
    
    .item-estudio{
        text-align: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    }
    
    .item-estudio  h3{
        color: var(--whiteColor);
        filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
        text-transform: uppercase;
        text-align: center;
    }
    .item-estudio  h4{
        color: var(--mainColor);
        text-align: left;
        text-transform: uppercase;
    }
    .item-estudio p{
        color: white;
    
    }
        



}

@media screen and (max-width: 768px){

    
    nav{
        width: 99%;
        border-radius: 10px;

    }
    
    .list__navbar{
        width: 100%;
        height: 200px;
        position: absolute;
        top: 80px;
        display: none;
        flex-direction: column;
        list-style: none;
        border-radius: 10px;
        background-color: var(--blackColor);
        transition: 2s;
        cursor: pointer;
    }
    
    .list__navbar  a:hover{
        cursor: pointer;
    }
    

    .logo__navbar{
        width: 50px;
    }
    .whiteMode  .list__navbar{
        background-color: white;
        
    }

    
    .whiteMode .container_ham{
        display: block;
        color: black;
        cursor: pointer;
    }
    .container_ham{
        display: block;
        color: white;
        cursor: pointer;
    }

    .toggle-activate{
        cursor: pointer;
        display: flex;
        right: 0;
       
    }



    #mouse-scroll{
        display: none;
    }


    main{
        width: 95%;
        border-radius: 20px;
        padding: 4px;
        margin: 30px auto  10px auto;
        border-radius: 10px;
        
    }

    .container__main_items{
        display: flex;
        flex-direction: column;
    }

    .container__information{
        width: auto;
        text-align: center;
        
    }

    .first-info-part,.second-info-part{
        font-size:1.5rem ;
    }
    #typed{
        font-size: 1.9rem;
    }

    .container--items-social{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
    }

    .img-main{
        width: 200px;
        
    }



    /* skills main part*/

    .container__skills{
        padding: 10px;
    }

    .items-container{
        justify-content: center;
        row-gap: 30px;
        column-gap: 40px;
        padding: 0;
    }
    .items-skills{
        width: 45px;
    }

    .container-text-about{
        display: block;
        width: 100%;
        padding-top: 10px;
    }


.container-elements-exter{
    display: none;
}


    /* about container */

    
    .about--container{
        padding: 10px;
    }
    .container-about h1{
        text-align: center;
    }
    
    .container-text-about{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 70px;
    
    }
    
    #img-items-about{
        width: 100px;
        display: block;
        overflow: hidden;
    }
    
    
    
    .container-about p{
        width: 100%;
    }
    
    
    /* Estudios */
    
    .container-estudios{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
        
    }
    
    .item-estudio{
        text-align: center;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    }
    
    .item-estudio  h3{
        color: var(--whiteColor);
        filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
        text-transform: uppercase;
        text-align: center;
    }
    .item-estudio  h4{
        color: var(--mainColor);
        text-align: left;
        text-transform: uppercase;
    }
    .item-estudio p{
        color: white;
    
    }
        

    .cnt-inputs{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        margin-bottom: 20px;
       
        
    }
    
    
    


}

@media screen and (max-width: 480px){



    .habilidades-container h1,
    .container-text-about h1,
    .title-contact,
    .container-contact h1{
        font-size: 1.5rem;
    }


    nav{
        width: 99%;
        border-radius: 10px;

    }
    
    .list__navbar{
        width: 100%;
        height: 200px;
        position: absolute;
        top: 80px;
        display: none;
        flex-direction: column;
        list-style: none;
        border-radius: 10px;
        background-color: var(--blackColor);
        transition: 2s;
        cursor: pointer;
    }
    
    .list__navbar  a:hover{
        cursor: pointer;
    }

    .whiteMode  .list__navbar{
        background-color: white;
        
    }

    
    .whiteMode .container_ham{
        display: block;
        color: black;
        cursor: pointer;
    }
    

    .logo__navbar{
        width: 50px;
    }
    
    .container_ham{
        display: block;
        color: white;
        cursor: pointer;
    }

    .toggle-activate{
        cursor: pointer;
        display: flex;
        right: 0;
       
    }

    .chevron-up-container{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:100% ;
        width:40px;
        height: 40px;
        background-color: rgb(32, 183, 203);
        bottom: 50px;
        right: 20px;
        z-index: 98;
        transform: translateY(100px);
        transition: 0.5s ease ;
    }

    #mouse-scroll{
        display: none;
    }


    /*MAIN */

    main{
        width: 95%;
        border-radius: 20px;
        padding: 4px;
        margin: 30px auto  10px auto;
        border-radius: 10px;
        
    }

    .container__main_items{
        display: flex;
        flex-direction: column;
    }

    .container__information{
        width: auto;
        text-align: center;
        
    }

    .first-info-part,.second-info-part{
        font-size:1.1rem ;
    }
    #typed{
        font-size: 1.5rem;
    }

    .container--items-social{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
    }

    .img-main{
        width: 200px;
        
    }


    /* skills main part*/

    .container__skills{
        padding: 10px;
    }

    .items-container{
        justify-content: center;
        row-gap: 25px;
        column-gap: 40px;
        padding: 0;
    }
    .items-skills{
        width: 35px;
    }


   
    /* about container */

    
.about--container{
    padding: 10px;
}
.container-about h1{
    font-size: 1.5rem;
    text-align: center;
}

.container-text-about{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 70px;

}

#img-items-about{
    width: 100px;
    display: block;
    overflow: hidden;
}



.container-about p{
    width: 100%;
    font-size: 1.1rem;
}


/* Estudios */

.container-estudios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    
}

.item-estudio{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.item-estudio  h3{
    font-size: 1.1rem;
    color: var(--whiteColor);
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    text-transform: uppercase;
    text-align: center;
}
.item-estudio  h4{
    font-size: 1rem;
    color: var(--mainColor);
    text-align: left;
    text-transform: uppercase;
}
.item-estudio p{
    color: white;

}
    
/* section de contacto  */


.container-contact{
    width: 100%;
    padding: 5px;
    
}


.container-contact h1{
    font-size: 1.5rem;
    margin: 10px 0px;
}

.container-items-contact h2{
    font-size: 1rem;
   
}

.container-items-contact p{
    font-size: 1rem;
    color: var(--whiteColor);
    margin-bottom: 20px;
    font-weight: 200;
    filter: none;
    text-align: center;
}

form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 10px;
}
.cnt-inputs{
    width: 89%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
    
}
.cnt-inputs input{
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    
    
}

form textarea{
    width: 100%;
    font-size: 1rem;
}

form button{
    width: 300px;
    font-size: 1rem;
}

form button:hover{
    background-color: var(--whiteColor);
    color: var(--mainColor);
    transition: .4s;
    cursor: pointer;
}








}

@media screen and (max-width: 360px){

    .habilidades-container h1,
    .container-text-about h1,
    .title-contact,
    .container-contact h1{
        font-size: 1.5rem;
    }


    nav{
        width: 99%;
        border-radius: 10px;

    }
    
    .list__navbar{
        width: 100%;
        height: 200px;
        position: absolute;
        top: 80px;
        display: none;
        flex-direction: column;
        list-style: none;
        border-radius: 10px;
        background-color: var(--blackColor);
        transition: 2s;
        cursor: pointer;
    }

    .whiteMode  .list__navbar{
        background-color: white;
        
    }

    
    .whiteMode .container_ham{
        display: block;
        color: black;
        cursor: pointer;
    }
    
    .list__navbar  a:hover{
        cursor: pointer;
    }
    

    .logo__navbar{
        width: 50px;
    }
    
    .container_ham{
       
        display: block;
        color: white;
        cursor: pointer;
    }


    .toggle-activate{
        cursor: pointer;
        display: flex;
        
       
    }
    .chevron-up-container{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:100% ;
        width:40px;
        height: 40px;
        background-color: rgb(32, 183, 203);
        bottom: 50px;
        right: 20px;
        z-index: 98;
        transform: translateY(100px);
        transition: 0.5s ease ;
    }

    #mouse-scroll{
        display: none;
    }

    main{
        width: 95%;
        border-radius: 20px;
        padding: 4px;
        margin: 30px auto  10px auto;
        border-radius: 10px;
        
    }

    .container__main_items{
        display: flex;
        flex-direction: column;
    }

    .container__information{
        width: auto;
        text-align: center;
        
    }

    .first-info-part,.second-info-part{
        font-size:1.1rem ;
    }
    #typed{
        font-size: 1.5rem;
    }

    .container--items-social{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        width: 100%;
    }

    .img-main{
        width: 200px;
        
    }

    .icon-information{
        width: 25px;
        
    }




    /* about container */

    
.about--container{
    padding: 10px;
}
.container-about h1{
    font-size: 1.5rem;
    text-align: center;
}

.container-text-about{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 70px;

}

#img-items-about{
    width: 100px;
    display: block;
    overflow: hidden;
}



.container-about p{
    width: 100%;
    font-size: 1.1rem;
}


/* Estudios */

.container-estudios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    
}

.item-estudio{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.item-estudio  h3{
    font-size: 1.1rem;
    color: var(--whiteColor);
    filter: drop-shadow(0px 0px 8px rgba(0,182,206,0.51));
    text-transform: uppercase;
    text-align: center;
}
.item-estudio  h4{
    font-size: 1rem;
    color: var(--mainColor);
    text-align: left;
    text-transform: uppercase;
}
.item-estudio p{
    color: white;

}
    
/* section de contacto  */


.container-contact{
    width: 100%;
    padding: 5px;
    
}


.container-contact h1{
    font-size: 1.5rem;
    margin: 10px 0px;
}

.container-items-contact h2{
    font-size: 1rem;
   
}

.container-items-contact p{
    font-size: 1rem;
    color: var(--whiteColor);
    margin-bottom: 20px;
    font-weight: 200;
    filter: none;
    text-align: center;
}

form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 10px;
}
.cnt-inputs{
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
    
}
.cnt-inputs input{
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    
    
}

form textarea{
    width: 100%;
    font-size: 1rem;
}

form button{
    width: 300px;
    font-size: 1rem;
}

form button:hover{
    background-color: var(--whiteColor);
    color: var(--mainColor);
    transition: .4s;
    cursor: pointer;
}



}






















